:root {
  --light-grey-lines: rgb(220, 220, 220);
  --Very-light-Grayish-Blue: rgb(246, 246, 254);
  --Light-Grayish-Blue: rgb(179, 181, 198);
  --Grayish-Blue: rgb(109, 112, 141);
  --Dark-Grayish-Blue: rgb(73, 76, 95);
  --Linear-Gradient-light: hsl(236, 72%, 79%);
  --Linear-Gradient-dark: hsl(237, 63%, 64%);
  --toggle-gradient-light: rgb(206, 206, 240);
  --toggle-gradient-dark: rgb(186, 188, 237);
  --shadow-light: 0 3rem 5rem rgba(29, 1, 105, 0.08); }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-weight: 700;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden; }

.pricing-background {
  max-width: 144rem;
  width: 100%;
  background-color: var(--Very-light-Grayish-Blue);
  position: relative;
  z-index: 3;
  overflow: hidden; }

.pricing__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5.8rem 0 5.5rem; }

.pricing__heading {
  font-size: 3.2rem;
  color: var(--Grayish-Blue);
  margin-bottom: 3.2rem; }

.pricing__toggle {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: var(--Light-Grayish-Blue);
  gap: 2.6rem; }

.pricing__switch {
  display: block;
  width: 5.4rem;
  height: 3rem;
  background: linear-gradient(to right bottom, var(--Linear-Gradient-light), var(--Linear-Gradient-dark));
  border-radius: 10rem;
  position: relative;
  cursor: pointer; }

.pricing__switch:after {
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  top: 0.4rem;
  left: 0.4rem;
  background: #fff;
  position: absolute;
  border-radius: 10rem;
  transition: 0.2s all; }

.pricing__switch:hover {
  background: var(--toggle-gradient-dark); }

.pricing__checkbox[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute; }

.pricing__checkbox:checked + .pricing__switch:after {
  left: calc(100% - 0.3rem);
  transform: translateX(-100%); }

.cards {
  max-width: 105rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(27rem, 1fr));
  justify-content: center;
  align-items: center;
  margin: 0 auto 6rem; }

.card__price-box-monthly, .card__price-box-annually {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem; }

.card__price-total-monthly, .card__price-total-annually {
  color: var(--Dark-Grayish-Blue);
  font-size: 6.4rem; }

.card {
  text-align: center;
  background-color: #fff;
  padding: 3rem; }
  .card--border-rd-bs {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: var(--shadow-light); }
  .card--pr {
    height: 46rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    background: linear-gradient(to right bottom, var(--Linear-Gradient-light), var(--Linear-Gradient-dark));
    box-shadow: var(--shadow-light); }
  .card--border-rd-ms {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: var(--shadow-light); }
  .card--margin-left {
    margin-left: 2.6rem; }
  .card--margin-right {
    margin-right: 2.6rem; }
  .card__option {
    color: var(--Grayish-Blue);
    font-size: 1.8rem;
    padding-bottom: 2rem; }
    .card__option--pr {
      color: #fff; }
  .card__active {
    display: none; }
  .card__currency {
    font-size: 4rem;
    color: var(--Dark-Grayish-Blue); }
    .card__currency--pr {
      color: #fff; }
  .card__price-total-pr {
    color: #fff; }
  .card__features-list {
    padding-top: 2rem; }
  .card__features-list li {
    list-style: none;
    border-top: 0.1rem solid var(--light-grey-lines);
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--Grayish-Blue); }
  .card__features-list--pr li {
    list-style: none;
    border-top: 0.1rem solid var(--Linear-Gradient-light);
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #fff; }
  .card__features-list li:last-child {
    border-bottom: 0.1rem solid var(--light-grey-lines);
    margin-bottom: 2.5rem; }
  .card__features-list--pr li:last-child {
    border-bottom: 0.1rem solid var(--Linear-Gradient-light); }

.btn {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right bottom, var(--Linear-Gradient-light), var(--Linear-Gradient-dark));
  border-radius: 0.5rem;
  cursor: pointer; }
  .btn__learn-more {
    border-radius: 0.5rem;
    text-decoration: none;
    flex: 1 1 auto;
    padding: 1.4rem 0;
    color: #fff;
    transition: all 0.2s;
    border: 0.1rem solid transparent; }
    .btn__learn-more--pr {
      padding: 1.3rem 0;
      background-image: linear-gradient(to right bottom, #fff, #fff);
      color: var(--Linear-Gradient-dark);
      border-radius: 0.5rem;
      border: 0.1rem solid #fff !important; }
    .btn__learn-more--pr:hover {
      border-radius: 0.5rem;
      background-image: linear-gradient(to right bottom, var(--Linear-Gradient-light), var(--Linear-Gradient-dark)) !important;
      color: #fff !important; }
  .btn__learn-more:hover {
    background-image: linear-gradient(to right bottom, #fff, #fff);
    border: 0.1rem solid var(--Dark-Grayish-Blue);
    border-radius: 0.5rem;
    color: var(--Linear-Gradient-dark); }

.bg-style img:nth-child(1) {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1; }

.bg-style img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1; }

.footer {
  text-align: center;
  margin-bottom: 1.2rem; }
  .footer__attribution p,
  .footer__attribution a {
    display: inline-block;
    font-size: 1.1rem;
    color: var(--Grayish-Blue); }
  .footer__attribution a {
    border-radius: 0.2rem;
    text-decoration: none;
    font-size: 1.3rem;
    margin-right: 0.5rem; }
  .footer__attribution a:hover {
    color: var(--Dark-Grayish-Blue);
    transition: all 0.1s; }

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--Linear-Gradient-dark); }
